@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-great-vibes: "Great Vibes", cursive;
  --font-montserrat: "Montserrat", "sans-serif";
  --color-olive-1: #84B6F4;
  --color-olive-2: #77A1FB;
  --color-olive-3: #405EA1;
  --color-olive-4: #172A50;
  --color-nyanza-1: white;
  --color-nyanza-2: #C4DAFA;
  --color-nyanza-3: #AFC9FD;
  --color-nyanza-4: #8CB0FF;
}

.fade-in {
  animation: fade-in 1.5s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-input{
  @apply w-full h-12 p-3 rounded-full outline-none border-2 border-olive-3 border-solid
}

.custom-rounded{
  @apply rounded-tl-4xl rounded-br-4xl
}

.custom-font{
  @apply font-montserrat
}

.custom-alert-close-btn{
  @apply text-olive-3
}

.custom-btn{
  @apply flex justify-center py-3 px-10 my-10 font-montserrat font-bold uppercase text-center bg-olive-3 rounded-full text-nyanza-1 cursor-pointer shadow-md shadow-olive-4 active:scale-95 transition-all active:shadow-none
}

.triangle-up{
  background-color: nyanza-1;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 60%, 0% 0%, 100% 0%);
}

@media screen and (max-width: 768px) {
  .triangle-up {
    clip-path: polygon(50% 50%, -50% 0%, 150% 0%);
  }
  
}